.burger {
    display: grid;
    gap: 4px;
    width: 32px;
    cursor: pointer;

    &__item {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(47, 128, 237, 0.84);
        transition: transform var(--transition-duration);
    }

    &__itemTop {
        transform: translateY(-70%);
    }

    &__itemBottom {
        transform: translate