.burger {
    display: grid;
    gap: 4px;
    width: 32px;
    cursor: pointer;

    @media (max-width: 600px) {
        width: 29px;
    }

    &__item {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(47, 128, 237, 0.84);
        transition: transform var(--transition-duration);

        @media (max-width: 600px) {
            background-color: #111;
        }
    }

    &__itemTop {
        transform: translateY(-70%);
    }

    &__itemBottom {
        transform: translateY(70%);
    }
}
