.container {
    width: 100%;
    max-width: 1440px;
    padding-left: clamp(20px, calc(1.85vw + 13.33px), 40px);
    padding-right: clamp(20px, calc(1.85vw + 13.33px), 40px);
    margin: 0 auto;
}