.menu {
    grid-area: menu;
    display: inline-flex;
    align-items: center;
    gap: clamp(10px, calc(0.48vw + 5.08px), 12px);
    cursor: pointer;

    &__text {
        font-weight: 600;
        font-size: 13px;
        line-height: 1;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: var(--color-foreground);
        white-space: nowrap;
    }
}
