.header {
    position: sticky;
    top: 0;
    padding: clamp(20px, calc(0.833vw + 17px), 29px) 0;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    transition: box-shadow var(--transition-duration);

    &__scrolled {
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    }

    &__linkLogo {
        grid-area: logo;
        display: inline-block;
        justify-self: center;
        line-height: 0;
    }

    &__logo {
        display: block;
        width: clamp(131px, calc(2.315vw + 122.67px), 156px);
        height: clamp(21px, calc(0.37vw + 19.67px), 25px);
    }

    &__tel {
        @media (max-width: 840px) {
            margin-left: clamp(29px, 8.1vw, 62px);
        }
    }

    &__orderCall {
        grid-area: order-call;
        font-weight: 600;
        font-size: 13px;
        line-height: 1;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: var(--color-primary);
        cursor: pointer;
        white-space: nowrap;

        @media (max-width: 840px) {
            display: none;
        }
    }
}

// grid-area: menu   → Menu.module.scss
// grid-area: button → ApartmentSelect.module.scss
// grid-area: tel    → Tel.module.scss
.containerHeader {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: 'menu button logo tel order-call';
    gap: clamp(25px, calc(4.81vw - 24.25px), 45px);

    @media (max-width: 840px) {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas: 'menu tel logo button';
        column-gap: 0;
    }
}
